.Wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: calc(100vh - 60px);
    padding: 1.5em;
    width: 100%;
    overflow: auto;
}

.Table {
    font-size: 125%;
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
}

.Table__Caption {
    display: inline-flex;
    position: sticky;
    left: 0;
}

.Table__Header {
    position: sticky;
    top: -1.5em;
    z-index: 3;
}

.Table__Header__Cell {
    padding: 0.25rem;
    z-index: 1;
    background: white;
}

.Table__Header__Cell, .Table__Body__Cell {
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

.Table__Body, .Table__Header {
    --col-count: 11;
    --min-cell-width: 100px;
    --max-cell-width: 1fr;

    display: grid;
    grid-template-columns: repeat(var(--col-count), minmax(var(--min-cell-width), var(--max-cell-width)));
}

.Table__Header__Row, .Table__Body__Row {
    display: contents;
}

.Table__Body__Cell {
    background: #fff;
    padding: 0.25rem;
    text-align: center;
}

.Table__Header__Row .Table__Header__Cell:first-of-type,
.Table__Body__Row .Table__Body__Cell:first-of-type {
    position: sticky;
    left: -1.5em;
    z-index: 2;
}

.Table__Header__Row .Table__Header__Cell:last-of-type,
.Table__Body__Row .Table__Body__Cell:last-of-type {
    position: sticky;
    right: -1.5em;
    z-index: 2;
}