@use '../../../../epam-promo/assets/styles/colors' as *;


.Wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: calc(100vh - 60px);
    width: 100%;
}

.Table {
    --cell-width: 100px;
    --cell-min-width: 0;
    --cell-grow: 0;
    --cell-shrink: 0;
    --fixed-border-color: gainsboro;
    --table-shadow: 0 3px 6px 0 rgb(29 30 38 / 10%), 0 1px 3px 0 rgb(29 30 38 / 10%);

    display: block;
    white-space: nowrap;
    margin: 0;
    width: 100%;
    border: none;
    border-spacing: 0;
    box-shadow: var(--table-shadow);
}

.Table__Header {
    --table-header-background: #fafafc;
    --table-header-border: 1px solid #e1e3eb;

    position: sticky;
    top: 0;
    border-top: var(--table-header-border);
    border-bottom: var(--table-header-border);
    border-left: none;
    border-right: none;
    z-index: 2;
}


.Table__Body {
    --table-body: calc(100vh - 100px);

    display: block;
    height: var(--table-body);
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
    scrollbar-color: #ced0db transparent;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $gray60;
    }

    &::-webkit-scrollbar-thumb {
        background: #ced0db;
        border-radius: 1.5px;
    }
}

.Table__Header__Cell, .Table__Body__Cell {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    min-width: var(--min-cell-width);
    flex-basis: var(--cell-width);
    flex-grow: var(--cell-grow);
    flex-shrink: var(--cell-shrink);
}

.Table__Header__Cell, .Table__Body__Cell {
    border: none;
    background: white;
    justify-content: center;
}

.Table__Header, .Table__Body__Row {
    display: flex;
}

.Table__Body__Row {
    max-height: 48px;
}

.Table__Header__Row {
    display: contents;
}

.Table__Body__Cell {
    text-transform: none;
    overflow: hidden;
}

.Table__Body__Row .Table__Body__Cell:first-of-type {
    position: sticky;
    left: 0;
    z-index: 1;
    border-right: 1px solid var(--fixed-border-color);
}

.Table__Header__Row .Table__Header__Cell:first-of-type {
    position: sticky;
    left: 0;
    top: 0;
}

.Table__Header__Row .Table__Header__Cell:last-of-type {
    position: sticky;
    right: 0;
    top: 0;
}

.Table__Body__Row .Table__Body__Cell:last-of-type {
    position: sticky;
    right: 0;
    border-left: 1px solid var(--fixed-border-color);
}